[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-unfold = "*"
safety = "*"
psycopg2-binary = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
rav = "*"

[dev-packages]

[requires]
python_version = "3.13"
